nvim/.config/nvim/undodir/
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/easyclip/
nvim/.config/nvim/ftdetect/
nvim/.config/nvim/ftplugin/envrc.vim
nvim/.config/nvim/plugins/
nvim/.config/nvim/syntax/
